/* .header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #070707;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 200px;
  object-fit: contain;
  margin: 0 20px;
  
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__search {
  display: flex;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 11px;
  padding: 10px;
  border: none;
  width:200px;
  margin-left: 270px;
}

.header__topic h2{
  
  font-size: 23px;
  color:white;
  margin-left:390px;
}
.header__search__text {
  font-size: 16px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}


    .header__topic h2:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
      transform: scale(1.1);
    }

    .header__topic h2:hover::before {
      opacity: 1;
    } */

    /* Responsive */

.header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #070707;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 200px;
  object-fit: contain;
  margin: 0 20px;
  
}

.toggle{
    color: white;
    background-color: white;
}

.head{
    color: white;
    margin-left: 180px;
}
@media (min-width: 992px) {
    .head {
      display: block; /* Display the element on LG and larger devices */
    }
  }
  
  @media (max-width: 991px) {
    .head {
      display: none; /* Hide the element on devices smaller than LG */
    }
  }
.header-products 
 {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;

}
/* Custom class for dropdown indicator */
.custom-dropdown-indicator::after {
    content: '+';
    display: inline-block;
    margin-left: 0.5rem; /* Adjust spacing as needed */
  }
  
  /* Remove default arrow */
  .custom-dropdown-indicator::after {
    display: none;
  }
  
  /* Show the plus sign on open */
  .custom-dropdown-indicator.open::after {
    content: '-';
  }


  